body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.players {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
}

.players .player {
    border: 1px solid black;
    width: 45%;
    text-align: center;
}

.players .player .image img {
    height: 180px;
    border-radius: 50%;
}

.players .player .name {
font-size: 40px;
}

.players .player .score {
    font-size: 70px;
}

.grid {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10xp;
}

.grid .cell {
    display: flex;
    border: 3px solid grey;
    text-align: center;
    height: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.grid .cell:hover {
    background-color: yellow;
    cursor: pointer;
}