.form-row {
    margin-top: 20px;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: large;
        font-weight: initial;
        font-style: italic;
        font-weight: bold;
    }

    input {
        padding: 5px;
        width: 100%;
        border: 3px solid #ccc;
        border-radius: 3px;
        font-size: medium;
    }

    button {
        width: 10%;
        padding: 10px;
        margin: auto;
        color: white;
        background-color: black;
        border: 2px solid $secondary-color;
        border-radius: 25px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        display: block;
    }
}