#nav {
    background-color: $primary-color;
    display: flex;

    a {
        text-decoration: none;
        padding: 10px;
        display: block;
        color: red;

        &:hover {
            background-color: lightcoral;
            color: blue;
            font-size: large;
            font-weight: bolder;
        }
    }
}